{% extends "site_base.html" %}

{% block body %}

    <table style="margin-left: 30px; margin-bottom: 20px">
        <ul>
            <tr>
                <td> Rechnung:</td>
                <td>{{ counter_bill.bill }}</td>
            </tr>
            <tr>
                <td> Alter Zählerstand:</td>
                <td> {{ counter_bill.old_measurement }} </td>
            </tr>
            <tr>
                <td> Datum alter Zählerstand:</td>
                <td> {{ counter_bill.date_old_measurement }} </td>
            </tr>
            <tr>
                <td> Neuer Zählerstand:</td>
                <td> {{ counter_bill.new_measurement }} </td>
            </tr>
            <tr>
                <td> Datum neuer Zählerstand:</td>
                <td> {{ counter_bill.date_new_measurement }} </td>
            </tr>
        </ul>
    </table>


    <a style="padding-left: 20px" class="linkButton" href="{% url 'counter_bill_update' pk=counter_bill.pk %}">
        <button class="btn btn-primary">Bearbeiten</button>
    </a>
    <a class="linkButton" href="{% url 'counter_bill_delete' pk=counter_bill.pk %}">
        <button class="btn btn-primary">Löschen</button>
    </a>

{% endblock %}