{% extends "site_base.html" %}

{% block extra_head %}

     <style type="text/css">
        input {
            display: block;
            margin-bottom: 15pt;
        }

        .errorlist {
            color: red;
            margin: 0;
            padding: 0;
        }

    </style>

     <script>

       $(function() {
            $( "#id_date_old_measurement" ).datepicker({
                dateFormat: 'dd.mm.yy',
                monthNames: ['Januar', 'Februar', 'März', 'April', 'Mai', 'Juni', 'Juli', 'August', 'September', 'Oktober', 'November', 'Dezember'],
                dayNames: ['Sonntag', 'Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag', 'Samstag'],
                dayNamesMin: ['So', 'Mo', 'Die', 'Mi', 'Do', 'Fr', 'Sa']
            });
            $( "#id_date_new_measurement" ).datepicker({
                dateFormat: 'dd.mm.yy',
                monthNames: ['Januar', 'Februar', 'März', 'April', 'Mai', 'Juni', 'Juli', 'August', 'September', 'Oktober', 'November', 'Dezember'],
                dayNames: ['Sonntag', 'Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag', 'Samstag'],
                dayNamesMin: ['So', 'Mo', 'Die', 'Mi', 'Do', 'Fr', 'Sa']
            });
         });
      </script>

{% endblock %}

{% block body %}

<form method="post">
    {% csrf_token %}
{{ form }}
    <input type="submit" value="Änderungen speichern" class="btn btn-primary"/>
</form>

{% endblock %}