{% extends "site_base.html" %}

{% block body %}

    <table style="margin-left: 30px; margin-bottom: 20px">
        <ul>
            <tr>
                <td> Preis:</td>
                <td>{{ cable_price.price_per_meter }} € pro Meter</td>
            </tr>
        </ul>
    </table>


    <a style="padding-left: 20px" class="linkButton" href="{% url 'cable_price_update' pk=cable_price.pk %}">
        <button class="btn btn-primary">Bearbeiten</button>
    </a>
    <a class="linkButton" href="{% url 'cable_price_delete' pk=cable_price.pk %}">
        <button class="btn btn-primary">Löschen</button>
    </a>

{% endblock %}