{% extends "site_base.html" %}

{% block body %}

    <form action="search/" method="get" style="margin-top: -43px; position: absolute; right: 148px">
        <input type="text" name="q" style="display: inline;">
        <input type="submit" value="Suchen" style="display: inline;">
    </form>

{% for customer in customers %}

    <ul class="list" xmlns="http://www.w3.org/1999/html">
        <li>{{ customer.first_name }} {{ customer.last_name }} <a href="{% url 'customer_detail' pk=customer.pk %}">Details</a> <a href="{% url 'customer_delete' pk=customer.pk %}">Löschen</a><a href="{% url 'customer_update' pk=customer.pk %}">Bearbeiten</a></li>
    </ul>

{% endfor %}

<a class="linkButton" href="{% url 'customer_create' %}"><button class="myButton">Neuen Kunden anlegen</button></a>

{% endblock %}
