{% extends "site_base.html" %}

{% block body %}

    <ul class="list">
        <li>{{ customer.salutation }}</li>
        <li>{{ customer.title}} {{ customer.first_name}} {{customer.last_name}}</li>
        <li>{{ customer.street }} {{ customer.house_number }}</li>
        <li>{{ customer.zip }} {{ customer.place }}</li>
    </ul>


<a class="linkButton" href="{% url 'customer_update' pk=customer.pk %}"><button class="myButton">Edit this customer</button></a>
<a class="linkButton" href="{% url 'customer_delete' pk=customer.pk %}"><button class="myButton">Delete this customer</button></a>

{% endblock %}