{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <title>customer</title>
</head>
<body>


{% for customer in customers %}

    <ul>
        <li>{{ customer.first_name }} {{ customer.last_name }} <a href="{% url 'customer_detail' pk=customer.pk %}">Details</a> <a href="{% url 'customer_delete' pk=customer.pk %}">Löschen</a><a href="{% url 'customer_update' pk=customer.pk %}">Bearbeiten</a></li>
    </ul>

{% endfor %}

<a class="linkButton" href="{% url 'customer_create' %}"><button class="myButton">Create new customer</button></a>


</body>
</html>

