{% extends "site_base.html" %}

{% block extra_head %}

    <style type="text/css">
        input {
            display: block;
            margin-bottom: 15pt;
        }

        .errorlist {
            color: red;
            margin: 0;
            padding: 0;
        }

    </style>

    <script>
        $(function () {
            $('#id_date').datepicker({
                format: 'dd.mm.yyyy',
                language: "de",
                weekStart: 1
            });
            $('#id_date_new_counter').datepicker({
                format: 'dd.mm.yyyy',
                language: "de",
                weekStart: 1
            });
        });
    </script>

{% endblock %}

{% block body %}

    <form method="post" style="padding-left: 10px">
        {% csrf_token %}
        {{ form }}
        <br>
        <input type="submit" value="Änderungen speichern" class="btn btn-primary"/>
    </form>

{% endblock %}