{% extends "site_base.html" %}

{% block body %}
    <table class="table-hover" style="margin-left: 5%">
        {% for index in indexes %}

            <tr class="list">
                <td style="width: 85%">Jahr: {{ index.year }} - Index: {{ index.index }} </td>
                <td><a href="{% url 'index_detail' pk=index.pk %}" class="btn btn-primary btn-small">Details</a></td>
                <td><a href="{% url 'index_update' pk=index.pk %}" class="btn btn-primary btn-small">Ändern</a></td>
                <td><a href="{% url 'index_delete' pk=index.pk %}" class="btn btn-danger btn-small">Löschen</a></td>
            </tr>

        {% endfor %}
    </table>
    <table class="table-hover" style="margin-left: 5%; margin-top: 5px" >
        <tr>
            <td>
                <a class="linkButton" href="{% url 'index_create' %}">
        <button class="btn btn-primary">Neuen Index anlegen</button></a>
            </td>
        </tr>
    </table>



{% endblock %}
