{% extends "site_base.html" %}

{% block body %}

    <table style="margin-left: 30px; margin-bottom: 20px" >
        <ul>
            <tr>
                <td> Jahr:</td>
                <td>{{ index.year }}</td>
            </tr>
            <tr>
                <td> Index:</td>
                <td> {{ index.index }} </td>
            </tr>
        </ul>
    </table>

<a style="padding-left: 20px" class="linkButton" href="{% url 'index_update' pk=index.pk %}"><button class="btn btn-primary">Bearbeiten</button></a>
<a class="linkButton" href="{% url 'index_delete' pk=index.pk %}"><button class="btn btn-primary">Löschen</button></a>

{% endblock %}