{% extends "site_base.html" %}

{% block body %}
{% for index in indexes %}

    <ul class="list">
        <li>{{ index.year }} {{ index.index }} <a href="{% url 'index_detail' pk=index.pk %}">Details</a> <a href="{% url 'index_delete' pk=index.pk %}">Löschen</a><a href="{% url 'index_update' pk=index.pk %}">Bearbeiten</a></li>
    </ul>

{% endfor %}

<a class="linkButton" href="{% url 'index_create' %}"><button class="myButton">Create new index</button></a>

{% endblock %}


<!DOCTYPE html>
<html>
<head>
    <title>Indexes</title>
</head>
<body>
    <table>
       <tr> <th>Index</th> <th>Jahr</th></tr>
    {% for index in indexes %}
        <tr><td>{{index.index}}</td> <td>{{index.year}}</td></tr>
    {% endfor %}
        </table>

<a href="{% url 'index_create' %}">Create new index</a>

</body>
</html>