{% extends "site_base.html" %}

{% block extra_head %}

     <style type="text/css">
        input {
            display: block;
            margin-bottom: 15pt;
        }

        .errorlist {
            color: red;
            margin: 0;
            padding: 0;
        }

    </style>
        <script>

       $(function() {
            $( "#id_date" ).datepicker({ dateFormat: 'dd.mm.yy'});
         });
      </script>

{% endblock %}

{% block body %}

<form method="post">
    {% csrf_token %}
{{ form }}
    <input type="submit" value="Änderungen speichern" class="myButton"/>
</form>

{% endblock %}