{% extends "site_base.html" %}

{% block extra_head %}
    <style type="text/css">
        input {
            display: block;
            margin-bottom: 15pt;
        }

        .errorlist {
            color: red;
            margin: 0;
            padding: 0;
        }

    </style>

{% endblock %}

{% block body %}
    <h4 style="padding-left: 10px; margin-top: 20px">Sie befinden sich im Messpreis</h4>
    <form method="post" style="padding-left: 10px">
        {% csrf_token %}
        {{ form }}
        </br><input type="submit" value="Änderungen speichern" class="btn btn-primary"/>
    </form>

{% endblock %}