{% extends "site_base.html" %}

{% block body %}

    <ul>
            Wage-group: {{ measurement_price.wage_group }} </br>
            Min: {{ measurement_price.max }} </br>
            Max: {{ measurement_price.min }} </br>
            Amount: {{ measurement_price.amount }}
    </ul>


<a class="linkButton" href="{% url 'measurement_price_update' pk=measurement_price.pk %}"><button class="myButton">Edit this measurement-price</button></a>
<a class="linkButton" href="{% url 'measurement_price_delete' pk=measurement_price.pk %}"><button class="myButton">Delete this measurement-price</button></a>

{% endblock %}