{% extends "site_base.html" %}

{% block body %}
{% for rate in rates %}

    <ul class="list">
        <li>{{ rate.building }} {{ rate.year }} <a href="{% url 'rate_detail' pk=rate.pk %}">Details</a> <a href="{% url 'rate_delete' pk=rate.pk %}">Löschen</a><a href="{% url 'rate_update' pk=rate.pk %}">Bearbeiten</a></li>
    </ul>

{% endfor %}

<a style="padding-left: 5px" class="linkButton" href="{% url 'rate_create' %}"><button class="btn btn-primary">Neue Rate anlegen</button></a>

{% endblock %}