{% extends "site_base.html" %}

{% block body %}

    <table style="margin-left: 30px; margin-bottom: 20px">
        <ul>
            <tr>
                <td> Gebäude:</td>
                <td>{{ rate.building }}</td>
            </tr>
            <tr>
                <td> Jahr:</td>
                <td> {{ rate.year }} </td>
            </tr>
            <tr>
                <td> Monatsrate:</td>
                <td> {{ rate.monthly_rate }}€</td>
            </tr>
        </ul>
    </table>


    <a style="padding-left: 20px" class="linkButton" href="{% url 'rate_update' pk=rate.pk %}">
        <button class="btn btn-primary">Bearbeiten</button>
    </a>
    <a class="linkButton" href="{% url 'rate_delete' pk=rate.pk %}">
        <button class="btn btn-primary">Löschen</button>
    </a>

{% endblock %}