{% extends "site_base.html" %}

{% block body %}

    <table style="margin-left: 30px; margin-bottom: 20px" >
        <ul>
            <tr>
                <td> Preisgruppe:</td>
                <td>{{ working_price.wage_group }}</td>
            </tr>
            <tr>
                <td> Minimum:</td>
                <td> {{ working_price.min }}kW </td>
            </tr>
            <tr>
                <td> Maximum:</td>
                <td> {{ working_price.max }}kW </td>
            </tr>
            <tr>
                <td> Betrag:</td>
                <td> {{ working_price.amount }}kW </td>
            </tr>
        </ul>
    </table>



<a class="linkButton" href="{% url 'working_price_update' pk=working_price.pk %}"><button class="myButton">Bearbeiten</button></a>
<a class="linkButton" href="{% url 'working_price_delete' pk=working_price.pk %}"><button class="myButton">Löschen</button></a>

{% endblock %}