{% extends "site_base.html" %}

{% block body %}

    <table style="margin-left: 30px; margin-bottom: 20px" >
        <ul>
            <tr>
                <td> Preisgruppe:</td>
                <td>{{ basic_price.wage_group }}</td>
            </tr>
            <tr>
                <td> Minimum:</td>
                <td> {{ basic_price.min }} kW </td>
            </tr>
            <tr>
                <td> Maximum:</td>
                <td> {{ basic_price.max }} kW </td>
            </tr>
            <tr>
                <td> Betrag:</td>
                <td> {{ basic_price.amount }} € </td>
            </tr>
        </ul>
    </table>


    <a style="padding-left: 20px" class="linkButton" href="{% url 'basic_price_update' pk=basic_price.pk %}">
        <button class="btn btn-primary">Bearbeiten</button>
    </a>
    <a class="linkButton" href="{% url 'basic_price_delete' pk=basic_price.pk %}">
        <button class="btn btn-primary">Löschen</button>
    </a>

{% endblock %}