input, select {
    display: block;
    margin: 10px;
}
/*______________________________________________________________________________________________________________________
*/
.mine-button {
    outline: 0;
    margin: 0 4px 0 0;
    padding: 0 1em;
    height: 2em;
    text-decoration: none !important;
    cursor: pointer;
    position: relative;
    text-align: center;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px
}

/*______________________________________________________________________________________________________________________
*/
.drop_menu {
    background: black;
    padding: 0;
    margin: 0;
    list-style-type: none;
    height: 30px;
}

.drop_menu li {
    float: left;
}

.drop_menu li a {
    padding: 10px 20px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font: 14px arial, verdana, sans-serif;
}

/* Submenu */
.drop_menu ul {
    position: absolute;
    left: -9999px;
    top: -9999px;
    list-style-type: none;
}

.drop_menu li:hover {
    position: relative;
    background: gray;
}

.drop_menu li:hover ul {
    left: 0px;
    top: 30px;
    background: gray;
    padding: 0px;
}

.drop_menu li:hover ul li a {
    padding: 5px;
    display: block;
    width: 168px;
    text-indent: 15px;
    background-color: gray;
}

.drop_menu li:hover ul li a:hover {
    background: lightgray;
}

/*______________________________________________________________________________________________________________________
*/

a {
    color: black;
    text-decoration: none;
    margin-right: 10pt;
    float: right;
}

ul.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.linkButton {
    float: left;
}

ul.list li {
    background-color: #008041;
    margin: 5px;
    padding: 3px;
}

ul.list li > a {
    color: yellow;

}

ul.list li:hover {
    background-color: greenyellow;

}


.clear {
    clear: both;
}

