.edit {
    float: right;
}
#left {
    margin-left: 15px;
}

a {
    margin-left: 5px;
}


form {
    padding-left: 20px;
}
.errorlist {
    color: red;
    list-style: none;
}

h2 {
  font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

table {
  margin: 0;
  margin-left: 15px;
  padding: 0;
}

tr {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}

tr:last-child {
  border: none;
}

td {
  text-decoration: none;
  color: #000;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

td:hover {
  background: gainsboro;
}

.subform {
    display: inline-block;
    margin-right: 15px;
}

.del {
    display: block;
}
