{% extends "site_base.html" %}

{% block body %}

    {% for building in buildings %}

        <ul class="list">
            <li>{{ building.customer }} {{ building.street }} {{ building.house_number }}  <a href="{% url 'building_detail' pk=building.pk %}">Details</a> <a href="{% url 'building_delete' pk=building.pk %}">Löschen</a><a href="{% url 'building_update' pk=building.pk %}">Bearbeiten</a></li>
        </ul>

    {% endfor %}

<a style="padding-left: 5px" class="linkButton" href="{% url 'building_create' %}"><button class="btn btn-primary">Neues Gebäude anlegen</button></a>

{% endblock %}