<!DOCTYPE html>
<html>
<head>
    <title>{{ building.place}}</title>
</head>
<body>

<h1>Building</h1>

    <ul>
            <li>{{ building.place }}</li>
            <li>{{ building.street }}</li>
            <li>{{ building.discount }}</li>
            <li>{{ building.discount_fixed }}</li>
            <li>{{ building.contract_date }}</li>
    </ul>

<a href="{% url 'customer_update' pk=customer.pk %}">Edit this customer</a>
<a href="{% url 'customer_delete' pk=customer.pk %}">Delete this customer</a>


</body>
</html>