{% extends "site_base.html" %}

{% block body %}

    <table style="margin-left: 30px; margin-bottom: 20px" >
        <ul>
            <tr>
                <td> Kunde:</td>
                <td>{{ building.customer }}</td>
            </tr>
            <tr>
                <td> Arbeitspreis:</td>
                <td> {{ building.working_price }} </td>
            </tr>
            <tr>
                <td> Grundpreis:</td>
                <td> {{ building.basic_price }} </td>
            </tr>
            <tr>
                <td> Messpreis:</td>
                <td> {{ building.measurement_price }} </td>
            </tr>
            <tr>
                <td> Anschlusspreis:</td>
                <td> {{ building.connection_flat_rate }} </td>
            </tr>
            <tr>
                <td> Kabelpreis:</td>
                <td> {{ building.cable_price }}€ </td>
            </tr>
            <tr>
                <td> Kabellänge:</td>
                <td> {{ building.cable_length }}m </td>
            </tr>
            <tr>
                <td> Adresse:</td>
                <td> {{ building.zip }} {{ building.place }} </td>
            </tr>
            <tr>
                <td> </td>
                <td> {{ building.street }} {{ building.house_number }} </td>
            </tr>
            <tr>
                <td> Fixer Rabatt:</td>
                <td> {{ building.discount_fixed }}% </td>
            </tr>
            <tr>
                <td> Anschlussdatum:</td>
                <td> {{ building.contract_date }} </td>
            </tr>
            <tr>
                <td> Anschlussnummer:</td>
                <td> {{ building.connection_number }} </td>
            </tr>
            <tr>
                <td> Anschlussleistung:</td>
                <td> {{ building.connection_power }}kW </td>
            </tr>
            <tr>
                <td> Letzte Rechnung:</td>
                <td>{{ building.last_bill }}</td>
            </tr>
        </ul>
    </table>

    <a class="linkButton" href="{% url 'building_update' pk=building.pk %}">
        <button class="myButton">Bearbeiten</button>
    </a>
    <a class="linkButton" href="{% url 'building_delete' pk=building.pk %}">
        <button class="myButton">Löschen</button>
    </a>

{% endblock %}