{% extends "site_base.html" %}

{% block body %}

    <table style="margin-left: 30px; margin-bottom: 20px">
        <ul>
            <tr>
                <td> Kunde:</td>
                <td>{{ building.customer }}</td>
            </tr>
            <tr>
                <td> Adresse:</td>
                <td> {{ building.zip }} {{ building.place }} </td>
            </tr>
            <tr>
                <td></td>
                <td> {{ building.street }} {{ building.house_number }} </td>
            </tr>
            <tr>
                <td> Arbeitspreis:</td>
                <td> {{ building.working_price }} </td>
            </tr>
            <tr>
                <td> Grundpreis:</td>
                <td> {{ building.basic_price }} </td>
            </tr>
            <tr>
                <td> Messpreis:</td>
                <td> {{ building.measurement_price }} </td>
            </tr>
            <tr>
                <td> Fixer Rabatt:</td>
                {% if building.discount_fixed == None %}
                    <td> Nein</td>
                {% else %}
                    <td> {{ building.discount_fixed }}%</td>
                {% endif %}
            </tr>
            <tr>
                <td> Anschlussdatum:</td>
                <td> {{ building.contract_date }} </td>
            </tr>
            <tr>
                <td> Anschlussnummer:</td>
                <td> {{ building.connection_number }} </td>
            </tr>
            <tr>
                <td> Anschlussleistung:</td>
                <td> {{ building.connection_power }}kW</td>
            </tr>
            <tr>
                <td> Letzte Rechnung:</td>
                <td>{{ building.last_bill }}</td>
            </tr>
        </ul>
    </table>

    <a style="padding-left: 20px" class="linkButton" href="{% url 'building_update' pk=building.pk %}">
        <button class="btn btn-primary">Bearbeiten</button>
    </a>
    <a class="linkButton" href="{% url 'building_delete' pk=building.pk %}">
        <button class="btn btn-primary">Löschen</button>
    </a>

{% endblock %}