{% extends "site_base.html" %}

{% block body %}
    <h4 style="padding-left: 10px">Möchten Sie für die Zwischenabrechnung einen Zeitraum eingeben?</br>
        Wenn nicht, wird das aktuelle Datum verwendet.</h4>
    <form action="{% url "pdf_Zwischenabrechnung" building.pk %}" method="get">
        <table border="0" cellpadding="0" cellspacing="4">
            <tr>
                <td align="right" style="padding-left: 20px; font-size: 16px">Anfangsdatum:</td>
                <td><input name="anfangsdatum" type="date"></td>
            </tr>
            <tr>
                <td align="right" style="margin-left: 20px; font-size: 16px">Enddatum:</td>
                <td><input name="enddatum" type="date"></td>
            </tr>
        </table>
        </p>

        <input class="btn btn-primary" style="margin-left: 20px; padding: 6px" type="submit" value="Die Rechnung mit angegebenem Datum erzeugen"> </p>
        <a class="btn btn-primary" style="margin-left: 20px; float: left; width: 300px" href="{% url 'pdf_Zwischenabrechnung' building.pk %}">Die Rechnung ohne Datumsangaben
            erzeugen</a>
    </form>



{% endblock %}