{% extends "site_base.html" %}

{% block body %}
    </br>
    <h3 style="font-size: 18px; padding-left: 5%">Grundpreisgruppen:</h3>
    <table class="table-hover" style="margin-left: 5%">
        {% for basic_price in group_views %}
            <tr class="list">
                <td style="width: 85%">Gruppe {{ basic_price.wage_group }}: ({{ basic_price.min }}-{{ basic_price.max }})</td>
                <td><a href="{% url 'basic_price_detail' pk=basic_price.pk %}" class="btn btn-primary btn-small">Details</a></td>
                <td><a href="{% url 'basic_price_update' pk=basic_price.pk %}" class="btn btn-primary btn-small">Ändern</a></td>
                <td><a href="{% url 'basic_price_delete' pk=basic_price.pk %}" class="btn btn-danger btn-small">Löschen</a></td>
            </tr>
        {% endfor %}
    </table>
    </br>
    <h3 style="font-size: 18px; padding-left: 5%">Messpreisgruppen:</h3>
    <table class="table-hover" style="margin-left: 5%">
        {% for measurement_price in group_views %}
            <tr class="list">
                <td style="width: 85%">Gruppe {{ measurement_price.wage_group }}:
                    ({{ measurement_price.min }}-{{ measurement_price.max }})
                </td>
                <td><a href="{% url 'measurement_price_detail' pk=measurement_price.pk %}" class="btn btn-primary btn-small">Details</a>
                </td>
                <td><a href="{% url 'measurement_price_update' pk=measurement_price.pk %}" class="btn btn-primary btn-small">Ändern</a>
                </td>
                <td><a href="{% url 'measurement_price_delete' pk=measurement_price.pk %}" class="btn btn-danger btn-small">Löschen</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    </br>
    <h3 style="font-size: 18px; padding-left: 5%">Arbeitspreisgruppen:</h3>
    <table class="table-hover" style="margin-left: 5%">
        {% for working_price in group_views %}
            <tr class="list">
                <td style="width: 85%">Gruppe {{ working_price.wage_group }}: ({{ working_price.min }}-{{ working_price.max }})</td>
                </td>
                <td><a href="{% url 'working_price_detail' pk=working_price.pk %}" class="btn btn-primary btn-small">Details</a>
                </td>
                <td><a href="{% url 'working_price_update' pk=working_price.pk %}" class="btn btn-primary btn-small">Ändern</a>
                </td>
                <td><a href="{% url 'working_price_delete' pk=working_price.pk %}" class="btn btn-danger btn-small">Löschen</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    </br>

    <table class="table-hover" style="margin-left: 5%; margin-top: 5px" >
        <tr>
            <td>
                <a class="linkButton" class="linkButton" href="{% url 'basic_price_create' %}">
        <button style="width: 250px" class="btn btn-primary">Neuen Grundpreis anlegen</button></a>
            </td>
            <td>
                <a class="linkButton" href="{% url 'measurement_price_create' %}">
        <button style="margin-left: 10% ; width: 250px" class="btn btn-primary">Neuen Messpreis anlegen</button></a>
            </td>
            <td>
                <a class="linkButton" href="{% url 'working_price_create' %}">
        <button style="margin-left: 20%; width: 250px" class="btn btn-primary">Neuen Arbeitspreis anlegen</button></a>
            </td>
        </tr>
    </table>



{% endblock %}