<!doctype html public "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
    <style type="text/css">
        @page {
            margin-left: 0.98in;
            margin-right: 0.98in;
            margin-top: 0.98in;
            margin-bottom: 0.79in
        }
    </style>
</head>

<body style="width: 620px; margin-top: 50px">
<p style="margin-bottom: 0.14in; line-height: 100%; font-size: 8pt;"><u>{{ heatingplant_data }} TelNr: 07286/8242</u>
</p>

<p style="margin-top: 60px; line-height: 100%; font-size: 12px"> {{ customer.salutation }} {{ customer.first_name }} {{ customer.last_name }}</p>

<p STYLE="margin-bottom: 0in; line-height: 100%; font-size: 12px">{{ customer.street }} {{ customer.house_number }}</p>

<p style="margin-bottom: 0in; line-height: 100%; font-size: 12px">{{ customer.zip }} {{ customer.place }}</p>

<p style="margin-bottom: 0in; line-height: 100%; font-size: 12px">Kundennummer: {{ customer.customer_number }}</p>

<div align="right" style="padding-top: -220px; margin-bottom: 20px; float: left;"><img
        src="C:\Users\Fabian\Desktop\HTL Neufelden\Diplomarbeit\Bioenergie\Biomasse.jpg" width="150" height="100"
        alt="Logo"></div>

<p align="right" style="margin-top: 0px; line-height: 100%; font-size: 4"><u>RECHNUNG</u></p>

<p align="right" style="margin-bottom: 0in; line-height: 100%; font-size: 12px">Kundenrechnung:
    HK {% now "Y" %}-{{ customer.pk }}-{{ building.pk }}</p>

<p align="right" style="margin-bottom: 0in; line-height: 100%; font-size: 12px">Datum:
    {% now "j. F Y" %}</p>

<p align="right" style="margin-bottom: 0in; line-height: 100% ; font-size: 12px">Ust-IDNr:
    {{ Ust_ID }}</p>

<p style="margin-bottom: 0in; line-height: 150%; font-size: 3">Betreff:
    Heizkosten {{ building.customer }} {{ building.street }} {{ building.house_number }}</p>

<p style="font-size: 12px; margin-bottom: 0in; border-top: none; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.01in; padding-left: 0in; padding-right: 0in; line-height: 150%">
    <b>Rechnung für Wärmelieferung von {{ begin_acounting }} bis {{ end_acounting }} </b></p>

<p style="font-size: 12px; margin-bottom: 0in; line-height: 100%">
<table width="619" cellpadding="4" cellspacing="0">

<tbody>
<tr valign="top">
    <td width="409" style="border: none; padding: 0in">
        <p>Zählerstand von {{ date_old_measurement }}</p> {% comment %} Zählerstand Anfangsdatum {% endcomment %}
    </td>
    <td width="32" style="border: none; padding: 0in">
        <p>kWh</p>
    </td>
    <td width="136" style="border: none; padding: 0in">
        <p align="right">{{ old_reading }}</p>
    </td>
</tr>

{% for change in counterchanges %}
    <tr valign="top">
        <td width="409" style="border: none; padding: 0in">
            <p>Zählerwechsel Endstand von {{ change.date }} </p>
        </td>
        <td width="32" style="border: none; padding: 0in">
            <p>kWh</p>
        </td>
        <td width="136" style="border: none; padding: 0in">
            <p align="right">{{ change.counter_final_result }}</p>
        </td>
    </tr>
    <tr valign="top">
        <td width="409" style="border: none; padding: 0in">
            <p>Zählerstand von {{ change.date_new_counter }} </p>
        </td>
        <td width="32" style="border: none; padding: 0in">
            <p>kWh</p>
        </td>
        <td width="136" style="border: none; padding: 0in">
            <p align="right">{{ change.new_counter_reading }}</p>
        </td>
    </tr>
{% endfor %}

<tr valign="top">
    <td width="409" style="border: none; padding: 0in">
        <p>Zählerstand von {{ measurement_end_date }} </p> {% comment %} Zählerstand Enddatum {% endcomment %}
    </td>
    <td width="32" style="border: none; padding: 0in">
        <p>kWh</p>
    </td>
    <td width="136" style="border: none; padding: 0in">
        <p align="right">{{ new_reading }}</p>
    </td>
</tr>

<tr valign="top">
    <td width="409" style="border: none; padding: 0in">
        <p>Verbrauch Differenz</p>
    </td>
    <td width="32" style="border: none; padding: 0in">
        <p>kWh</p>
    </td>
    <td width="136" style="border: none; padding: 0in">
        <p align="right"> {{ measurement_diff }}</p>
    </td>
</tr>

<tr valign="top">
    <td width="409"
        style="border-top: none; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in">
        <p>Arbeitspreis lt. Wärmevertrag (EUR {{ workingpriceamount }} x {{ measurement_diff }} kWh)</p>
    </td>
    <td width="32"
        style="border-top: none; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in">
        <p>EUR</p>
    </td>
    <td width="136"
        style="border-top: none; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in">
        <p align="right">{{ workingpricemulti|floatformat:2 }}</p>
    </td>
</tr>
</tbody>

<tbody>
<tr valign="top">
    <td width="409"
        style="border-top: 1px solid #00000a; border-bottom: none; border-left: none; border-right: none; padding: 0in">
        <p>Messpreis für Wärmezähler {{ measurementpriceamount }} x {{ partial1 }} {{ months }} {{ partial2 }}</p>
    </td>
    <td width="32"
        style="border-top: 1px solid #00000a; border-bottom: none; border-left: none; border-right: none; padding: 0in">
        <p>EUR</p>
    </td>
    <td width="136"
        style="border-top: 1px solid #00000a; border-bottom: none; border-left: none; border-right: none; padding: 0in">
        <p align="right">{{ measurementpricemulti|floatformat:2 }}</p>
    </td>
</tr>

<tr valign="top">
    <td width="409" style="border: none; padding: 0in">
        <p style="font-size: 9pt">Grundpreis (EUR {{ basicpriceamount }} pro kW) {{ connection_power }}
            x {{ partial1 }} {{ months }} {{ partial2 }}
    </td>
    <td width="32" style="border: none; padding: 0in">
        <p>EUR</p>
    </td>
    <td width="136" style="border: none; padding: 0in">
        <p align="right">{{ basicpricemulti|floatformat:2 }}</p>
    </td>
</tr>

<tr valign="top">
    <td width="409"
        style="border-top: none; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in">
        <p>Totaler Mess- und Grundpreis für obige Zeitspanne</p>
    </td>
    <td width="32"
        style="border-top: none; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in">
        <p>EUR</p>
    </td>
    <td width="136"
        style="border-top: none; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in">
        <p align="right">{{ restult_measurementprice_basicprice|floatformat:2 }}</p>
    </td>
</tr>
</tbody>

<tbody>
<tr valign="top">
    <td width="409"
        style="border-top: 1px solid #00000a; border-bottom: none; border-left: none; border-right: none; padding: 0in">
        <p>Netto</p>
    </td>
    <td width="32"
        style="border-top: 1px solid #00000a; border-bottom: none; border-left: none; border-right: none; padding: 0in">
        <p>EUR</p>
    </td>
    <td width="136"
        style="border-top: 1px solid #00000a; border-bottom: none; border-left: none; border-right: none; padding: 0in">
        <p align="right">{{ net_workingprice_measurementprice_basicprice|floatformat:2 }}</p>
    </td>
</tr>

<tr valign="top">
    <td width="409" style="border: none; padding: 0in">
        <p>Rabatt {{ discount }} %</p>
    </td>
    <td width="32" style="border: none; padding: 0in">
        <p>EUR</p>
    </td>
    <td width="136" style="border: none; padding: 0in">
        <p align="right">-{{ result_discount|floatformat:2 }}</p>
    </td>
</tr>

<tr valign="top">
    <td width="409" style="border: none; padding: 0in">
        <p>20% MwSt</p>
    </td>
    <td width="32" style="border: none; padding: 0in">
        <p>EUR</p>
    </td>
    <td width="236" style="border: none; padding: 0in">
        <p align="right">{{ vat_after_discount|floatformat:2 }}</p>
    </td>
</tr>

<tr valign="top">
    <td width="409"
        style="border-top: none; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in;">
        <p><b>Summe</b></p>
    </td>
    <td width="32"
        style="border-top: none; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in">
        <p><b>EUR</b></p>
    </td>
    <td width="136"
        style="border-top: none; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in">
        <p align="right"><b> {{ sum|floatformat:2 }}</b></p>
    </td>
</tr>
</tbody>

<tbody>
<tr valign="top">
    <td width="409"
        style="border-top: 1px solid #00000a; border-bottom: none; border-left: none; border-right: none; padding: 0in">
        <p>Geleistete Akontozahlung Netto</p>
    </td>
    <td width="32"
        style="border-top: 1px solid #00000a; border-bottom: none; border-left: none; border-right: none; padding: 0in">
        <p>EUR</p>
    </td>
    <td width="136"
        style="border-top: 1px solid #00000a; border-bottom: none; border-left: none; border-right: none; padding: 0in">
        <p align="right">{{ advanced_payment_on_account_net|floatformat:2 }}</p>
    </td>
</tr>

<tr valign="top">
    <td width="409" style="border: none; padding: 0in">
        <p>20% MwSt</p>
    </td>
    <td width="32" style="border: none; padding: 0in">
        <p>EUR</p>
    </td>
    <td width="136" style="border: none; padding: 0in">
        <p align="right">{{ advanced_payment_on_account_vat|floatformat:2 }}</p>
    </td>
</tr>

<tr valign="top">
    <td width="409"
        style="border-top: none; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in">
        <p>Geleistete Akontozahlung Brutto</p>
    </td>
    <td width="32"
        style="border-top: none; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in">
        <p>EUR</p>
    </td>
    <td width="136"
        style="border-top: none; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in">
        <p align="right">{{ advanced_payment_on_account_gross|floatformat:2 }}</p>
    </td>
</tr>
</tbody>

<tbody>
<tr valign="top">
    <td width="409"
        style="border-top: 1px solid #00000a; border-bottom: none; border-left: none; border-right: none; padding: 0in">
        <p>{{ credit_additionalpayment }} Netto</p>
    </td>
    <td width="32"
        style="border-top: 1px solid #00000a; border-bottom: none; border-left: none; border-right: none; padding: 0in">
        <p>EUR</p>
    </td>
    <td width="136"
        style="border-top: 1px solid #00000a; border-bottom: none; border-left: none; border-right: none; padding: 0in">
        <p align="right">{{ credit_additionalpayment_net|floatformat:2 }}</p>
    </td>
</tr>

<tr valign="top">
    <td width="409" style="border: none; padding: 0in">
        <p>20% MwSt</p>
    </td>
    <td width="32" style="border: none; padding: 0in">
        <p>EUR</p>
    </td>
    <td width="136" style="border: none; padding: 0in">
        <p align="right">{{ credit_additionalpayment_vat|floatformat:2 }}</p>
    </td>
</tr>

<tr valign="top">
    <td width="409" style="border: none; padding: 0in">
        <p><b>{{ credit_additionalpayment }} Brutto</b></p>
    </td>
    <td width="32" style="border: none; padding: 0in">
        <p><b>EUR</b></p>
    </td>
    <td width="136" style="border: none; padding: 0in">
        <P align="right"><b>{{ credit_additionalpayment_gross|floatformat:2 }}</b></p>
    </td>
</tr>

<tr>
    <td colspan="3" width="605" valign="top" style="border: none; padding: 0in">
        <p> {{ debit_transfer }}</p>
    </td>
</tr>

<tr>
    <td colspan="3" width="605" valign="top"
        style="border-top: none; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in">
        <p>Der neu errechnete monatliche Akontozahlungsbetrag lautet:

        <p>
    </td>
</tr>
</tbody>

<tbody>
<tr valign="top">
    <td width="409"
        style="border-top: 1px solid #00000a; border-bottom: none; border-left: none; border-right: none; padding: 0in">
        <p>Netto</p>
    </td>
    <td width="32"
        style="border-top: 1px solid #00000a; border-bottom: none; border-left: none; border-right: none; padding: 0in">
        <p>EUR</p>
    </td>
    <td width="136"
        style="border-top: 1px solid #00000a; border-bottom: none; border-left: none; border-right: none; padding: 0in">
        <p align="right">{{ new_rate_net|floatformat:0 }}</p>
    </td>
</tr>

<tr valign="top">
    <td width="409" style="border: none; padding: 0in">
        <p>20% MwSt</p>
    </td>
    <td width="32" style="border: none; padding: 0in">
        <p>EUR</p>
    </td>
    <td width="136" style="border: none; padding: 0in">
        <p align="right">{{ new_rate_vat|floatformat:0 }}</p>
    </td>
</tr>

<tr valign="top">
    <td width="409"
        style="border-top: none; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in">
        <p>Brutto</p>
    </td>
    <td width="32"
        style="border-top: none; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in">
        <p>EUR</p>
    </td>
    <td width="136"
        style="border-top: none; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in">
        <p align="right">{{ new_rate_gross|floatformat:0 }} </p>
    </td>
</tr>
</tbody>

<tbody>
<tr valign="top">
    <td width="409"
        style="border-top: 1px solid #00000a; border-bottom: none; border-left: none; border-right: none; padding: 0in">
        <p>Die monatliche Vorauszahlung beträgt</p>
    </td>
    <td width="32"
        style="border-top: 1px solid #00000a; border-bottom: none; border-left: none; border-right: none; padding: 0in">
        <p>EUR</p>
    </td>
    <td width="136"
        style="border-top: 1px solid #00000a; border-bottom: none; border-left: none; border-right: none; padding: 0in">
        <p align="right">{{ new_rate_gross|floatformat:0 }}</p>
    </td>
</tr>

</tbody>
</table>
</br>

<table>
    <tr>
        <td style="font-size: 9px;">
            FirmenbuchNr: {{ company_register_number }}
        </td>
        <td>
            <table style="font-size: 8px">
                <td colspan="2"> Bankname: {{ bankname }}</td>

                <tr>
                    <td>Kontonummer: {{ account_number }}</td>
                    <td>IBAN: {{ IBAN }}</td>
                </tr>

                <tr>
                    <td>BLZ: {{ code_number }}</td>
                    <td>BIC: {{ BIC }}</td>
                </tr>
            </table>

        </td>
    </tr>
</table>

<table style="page-break-before: always; margin-left: 30px; margin-bottom: 20px" cellpadding="4">
    <ul>
        <tr>
            <td style="font-size: 14px"><b>Die Indexänderungen im Überblick:</b></td>
        </tr>
        <tr>
            <td>Index des Vergangenes Jahres:</td>
            <td> {{ index_for_the_last_year }}</td>
        </tr>
        <tr>
            <td>Index dieses Jahr:</td>
            <td> {{ index_for_this_year }}</td>
        </tr>
        <tr>
            <td>Index des kommenden Jahres:</td>
            <td> {{ index_for_the_next_year }}</td>
        </tr>
    </ul>
</table>


</body>
</html>