{% load mathfilters %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
    <STYLE TYPE="text/css">
        <!--
        @page {
            margin-left: 0.98in;
            margin-right: 0.98in;
            margin-top: 0.98in;
            margin-bottom: 0.79in
        }

        P {
            margin-bottom: 0.08in;
            direction: ltr;
            widows: 2;
            orphans: 2
        }

        -->
    </STYLE>
</HEAD>
<BODY LANG="de-AT" DIR="LTR" style="width: 620px; margin: 0px auto; margin-top: 50px">
<P STYLE="margin-bottom: 0.14in; line-height: 100%"><FONT SIZE=2 STYLE="font-size: 9pt"><U>Bioenergie
    Lembach Ammerstorfer KG, Oberndorf 4, 4132 Lembach, TelNr: 00000/xxxx</U></FONT></P>

<P STYLE="margin-bottom: 0in; line-height: 100%"> {{ customer.salutation }} {{ customer.first_name }} {{ customer.last_name }}</P>

<P STYLE="margin-bottom: 0in; line-height: 100%">{{ customer.street }} {{ customer.house_number }}</P>

<P STYLE="margin-bottom: 0in; line-height: 100%">{{ customer.zip }} {{ customer.place }}</P>

<P STYLE="margin-bottom: 0in; line-height: 100%">Kundennummer: {{ customer.customer_number }}</P>

<P ALIGN=RIGHT STYLE="margin-bottom: 0.14in; line-height: 100%"><FONT SIZE=4><U>RECHNUNG</U></FONT></P>

{% comment %}
{% for customer in Customers %} <-- Funktioniert nu ned so gonz wies soid..
<P ALIGN=RIGHT STYLE="margin-bottom: 0in; line-height: 100%">Kundenrechnung:
    {{ bill.bill_number }} HK {% now "Y" %}-{{ forloop.counter }}</P>
{% endfor %}
{% endcomment %}

<P ALIGN=RIGHT STYLE="margin-bottom: 0in; line-height: 100%">Datum:
    {% now "j. F Y" %}</P>

<P ALIGN=RIGHT STYLE="margin-bottom: 0in; line-height: 100%">Ust-IDNr:
    {{ heatingplant.Ust_ID }}</P>

<P STYLE="margin-bottom: 0in; line-height: 150%"><FONT SIZE=2>Betreff:
    Heizkosten {{ building.customer }} {{ building.street }} {{ building.house_number }}</FONT></P>

<P STYLE="margin-bottom: 0in; border-top: none; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.01in; padding-left: 0in; padding-right: 0in; line-height: 150%">
    <B>Rechnung für Wärmelieferung von 01.07.{% now "Y" %} bis 30.06.{% now "Y" %} </B></P>
    {% comment %}
    soin ma des so mocha mit jetzigem Jahr und Jetzigem Jahr -1?
    {% endcomment %}

<P STYLE="margin-bottom: 0in; line-height: 150%"><BR>
</P>
<TABLE WIDTH=619 CELLPADDING=7 CELLSPACING=0>
<COL WIDTH=409>
<COL WIDTH=32>
<COL WIDTH=136>
<TBODY>
<TR VALIGN=TOP>
    <TD WIDTH=409 STYLE="border: none; padding: 0in">
        <P>Alter Zählerstand von {{ counterbill.date_old_measurement }}</P> {% comment %} Bin ma ned sicher, ob des fo Counterbill kimt {% endcomment %}
    </TD>
    <TD WIDTH=32 STYLE="border: none; padding: 0in">
        <P>kWh</P>
    </TD>
    <TD WIDTH=136 STYLE="border: none; padding: 0in">
        <P ALIGN=RIGHT>{{ counterbill.old_measurement }}</P>
    </TD>
</TR>
<TR VALIGN=TOP>
    <TD WIDTH=409 STYLE="border: none; padding: 0in">
        <P>Neuer Zählerstand von {{ counterbill.date_new_measurement }} </P>
    </TD>
    <TD WIDTH=32 STYLE="border: none; padding: 0in">
        <P>kWh</P>
    </TD>
    <TD WIDTH=136 STYLE="border: none; padding: 0in">
        <P ALIGN=RIGHT>{{ counterbill.new_measurement }}</P>
    </TD>
</TR>
<TR VALIGN=TOP>
    <TD WIDTH=409 STYLE="border: none; padding: 0in">
        <P>Verbrauch Differenz</P>
    </TD>
    <TD WIDTH=32 STYLE="border: none; padding: 0in">
        <P>kWh</P>
    </TD>
    <TD WIDTH=136 STYLE="border: none; padding: 0in">
        <P ALIGN=RIGHT> {{ Counterbill.new_measurement }} {{Counterbill.old_measurement }}</P> {% comment %} do hob i a Frage in Stackoverflow gstellt wie des funktioniert {% endcomment %}
    </TD>
</TR>
<TR VALIGN=TOP>
    <TD WIDTH=409
        STYLE="border-top: none; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in">
        <P>Arbeitspreis lt. Wärmevertrag (EUR {{ workingprice.amount }}
            (Differzenz))</P>
    </TD>
    <TD WIDTH=32
        STYLE="border-top: none; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in">
        <P>EUR</P>
    </TD>
    <TD WIDTH=136
        STYLE="border-top: none; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in">
        <P ALIGN=RIGHT>{{ workingprice.amount }} {{ measurementprice.amount }}</P>
    </TD>
</TR>
</TBODY>
<TBODY>
<TR VALIGN=TOP>
    <TD WIDTH=409
        STYLE="border-top: 1px solid #00000a; border-bottom: none; border-left: none; border-right: none; padding: 0in">
        <P>Messpreis für Wärmezähler {{ measurementprice.amount }} ((Monate)/12)</P> {% comment %} Woicha Anzahl vo Monat?? {% endcomment %}
    </TD>
    <TD WIDTH=32
        STYLE="border-top: 1px solid #00000a; border-bottom: none; border-left: none; border-right: none; padding: 0in">
        <P>EUR</P>
    </TD>
    <TD WIDTH=136
        STYLE="border-top: 1px solid #00000a; border-bottom: none; border-left: none; border-right: none; padding: 0in">
        <P ALIGN=RIGHT>{{ measurementprice.amount }}</P>
    </TD>
</TR>
<TR VALIGN=TOP>
    <TD WIDTH=409 STYLE="border: none; padding: 0in">
        <P>Grundpreis (EUR {{ basicprice.amount }} pro kW<FONT SIZE=2 STYLE="font-size: 9pt">
        </FONT>(Anschlleist.) ((Monate)/12)</P> {% comment %} wos is des?? {% endcomment %}
    </TD>
    <TD WIDTH=32 STYLE="border: none; padding: 0in">
        <P>EUR</P>
    </TD>
    <TD WIDTH=136 STYLE="border: none; padding: 0in">
        <P ALIGN=RIGHT>{{ basicprice.amount }}</P>
    </TD>
</TR>
<TR VALIGN=TOP>
    <TD WIDTH=409
        STYLE="border-top: none; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in">
        <P>Totaler Mess- und Grundpreis für obige Zeitspanne</P>
    </TD>
    <TD WIDTH=32
        STYLE="border-top: none; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in">
        <P>EUR</P>
    </TD>
    <TD WIDTH=136
        STYLE="border-top: none; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in">
        <P ALIGN=RIGHT>{{ measurementprice.amount }} {{ basicprice.amount }}</P>
    </TD>
</TR>
</TBODY>
<TBODY>
<TR VALIGN=TOP>
    <TD WIDTH=409
        STYLE="border-top: 1px solid #00000a; border-bottom: none; border-left: none; border-right: none; padding: 0in">
        <P>Netto</P>
    </TD>
    <TD WIDTH=32
        STYLE="border-top: 1px solid #00000a; border-bottom: none; border-left: none; border-right: none; padding: 0in">
        <P>EUR</P>
    </TD>
    <TD WIDTH=136
        STYLE="border-top: 1px solid #00000a; border-bottom: none; border-left: none; border-right: none; padding: 0in">
        <P ALIGN=RIGHT><SPAN LANG="en-GB">SUMME(Diff+Total)</SPAN></P>
    </TD>
</TR>
<TR VALIGN=TOP>
    <TD WIDTH=409 STYLE="border: none; padding: 0in">
        <P>(Rabatt)</P>
    </TD>
    <TD WIDTH=32 STYLE="border: none; padding: 0in">
        <P>EUR</P>
    </TD>
    <TD WIDTH=136 STYLE="border: none; padding: 0in">
        <P ALIGN=RIGHT>-(Summe*(Rabatt))</P>
    </TD>
</TR>
<TR VALIGN=TOP>
    <TD WIDTH=409 STYLE="border: none; padding: 0in">
        <P>20% MwSt</P>
    </TD>
    <TD WIDTH=32 STYLE="border: none; padding: 0in">
        <P>EUR</P>
    </TD>
    <TD WIDTH=136 STYLE="border: none; padding: 0in">
        <P ALIGN=RIGHT>(Summe*(Rabatt)*0,2)</P>
    </TD>
</TR>
<TR VALIGN=TOP>
    <TD WIDTH=409
        STYLE="border-top: none; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in">
        <P>Summe</P>
    </TD>
    <TD WIDTH=32
        STYLE="border-top: none; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in">
        <P>EUR</P>
    </TD>
    <TD WIDTH=136
        STYLE="border-top: none; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in">
        <P ALIGN=RIGHT>Netto/Rabatt*1,2</P>
    </TD>
</TR>
</TBODY>
<TBODY>
<TR VALIGN=TOP>
    <TD WIDTH=409
        STYLE="border-top: 1px solid #00000a; border-bottom: none; border-left: none; border-right: none; padding: 0in">
        <P>Geleistete Akontozahlung Netto</P>
    </TD>
    <TD WIDTH=32
        STYLE="border-top: 1px solid #00000a; border-bottom: none; border-left: none; border-right: none; padding: 0in">
        <P>EUR</P>
    </TD>
    <TD WIDTH=136
        STYLE="border-top: 1px solid #00000a; border-bottom: none; border-left: none; border-right: none; padding: 0in">
        <P ALIGN=RIGHT>(Rate*Monate)</P>
    </TD>
</TR>
<TR VALIGN=TOP>
    <TD WIDTH=409 STYLE="border: none; padding: 0in">
        <P>20% MwSt</P>
    </TD>
    <TD WIDTH=32 STYLE="border: none; padding: 0in">
        <P>EUR</P>
    </TD>
    <TD WIDTH=136 STYLE="border: none; padding: 0in">
        <P ALIGN=RIGHT>Rate*Monate*1,2</P>
    </TD>
</TR>
<TR VALIGN=TOP>
    <TD WIDTH=409
        STYLE="border-top: none; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in">
        <P>Geleistete Akontozahlung Brutto</P>
    </TD>
    <TD WIDTH=32
        STYLE="border-top: none; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in">
        <P>EUR</P>
    </TD>
    <TD WIDTH=136
        STYLE="border-top: none; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in">
        <P ALIGN=RIGHT>Rate*Monate*1,2</P>
    </TD>
</TR>
</TBODY>
<TBODY>
<TR VALIGN=TOP>
    <TD WIDTH=409
        STYLE="border-top: 1px solid #00000a; border-bottom: none; border-left: none; border-right: none; padding: 0in">
        <P>Nachzahlung Netto</P>
    </TD>
    <TD WIDTH=32
        STYLE="border-top: 1px solid #00000a; border-bottom: none; border-left: none; border-right: none; padding: 0in">
        <P>EUR</P>
    </TD>
    <TD WIDTH=136
        STYLE="border-top: 1px solid #00000a; border-bottom: none; border-left: none; border-right: none; padding: 0in">
        <P ALIGN=RIGHT>(SummeNet-gelNet)</P>
    </TD>
</TR>
<TR VALIGN=TOP>
    <TD WIDTH=409 STYLE="border: none; padding: 0in">
        <P>20% MwSt</P>
    </TD>
    <TD WIDTH=32 STYLE="border: none; padding: 0in">
        <P>EUR</P>
    </TD>
    <TD WIDTH=136 STYLE="border: none; padding: 0in">
        <P ALIGN=RIGHT>(Summe-gel)*0,2</P>
    </TD>
</TR>
<TR VALIGN=TOP>
    <TD WIDTH=409 STYLE="border: none; padding: 0in">
        <P>Nachzahlung Brutto</P>
    </TD>
    <TD WIDTH=32 STYLE="border: none; padding: 0in">
        <P>EUR</P>
    </TD>
    <TD WIDTH=136 STYLE="border: none; padding: 0in">
        <P ALIGN=RIGHT>(Summe-gel)*1,2</P>
    </TD>
</TR>
<TR>
    <TD COLSPAN=3 WIDTH=605 VALIGN=TOP STYLE="border: none; padding: 0in">
        <P>Der Betrag wird innerhalb von 14 Tagen von ihrem Konto
            abgebucht.</P>
    </TD>
</TR>
<TR>
    <TD COLSPAN=3 WIDTH=605 VALIGN=TOP
        STYLE="border-top: none; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in">
        <P>Der neu errechnete monatliche Akontozahlungsbetrag lautet:</P>
    </TD>
</TR>
</TBODY>
<TBODY>
<TR VALIGN=TOP>
    <TD WIDTH=409
        STYLE="border-top: 1px solid #00000a; border-bottom: none; border-left: none; border-right: none; padding: 0in">
        <P>Netto</P>
    </TD>
    <TD WIDTH=32
        STYLE="border-top: 1px solid #00000a; border-bottom: none; border-left: none; border-right: none; padding: 0in">
        <P>EUR</P>
    </TD>
    <TD WIDTH=136
        STYLE="border-top: 1px solid #00000a; border-bottom: none; border-left: none; border-right: none; padding: 0in">
        <P ALIGN=RIGHT>Formel Nachzahlung</P>
    </TD>
</TR>
<TR VALIGN=TOP>
    <TD WIDTH=409 STYLE="border: none; padding: 0in">
        <P>20% MwSt</P>
    </TD>
    <TD WIDTH=32 STYLE="border: none; padding: 0in">
        <P>EUR</P>
    </TD>
    <TD WIDTH=136 STYLE="border: none; padding: 0in">
        <P ALIGN=RIGHT>Formel*0,2</P>
    </TD>
</TR>
<TR VALIGN=TOP>
    <TD WIDTH=409
        STYLE="border-top: none; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in">
        <P>Brutto</P>
    </TD>
    <TD WIDTH=32
        STYLE="border-top: none; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in">
        <P>EUR</P>
    </TD>
    <TD WIDTH=136
        STYLE="border-top: none; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in">
        <P ALIGN=RIGHT>Formel*1,2</P>
    </TD>
</TR>
</TBODY>
<TBODY>
<TR VALIGN=TOP>
    <TD WIDTH=409
        STYLE="border-top: 1px solid #00000a; border-bottom: none; border-left: none; border-right: none; padding: 0in">
        <P>Die monatliche Vorauszahlung beträgt</P>
    </TD>
    <TD WIDTH=32
        STYLE="border-top: 1px solid #00000a; border-bottom: none; border-left: none; border-right: none; padding: 0in">
        <P>EUR</P>
    </TD>
    <TD WIDTH=136
        STYLE="border-top: 1px solid #00000a; border-bottom: none; border-left: none; border-right: none; padding: 0in">
        <P ALIGN=RIGHT>Formel*1,2</P>
    </TD>
</TR>
</TBODY>
</TABLE>
<P STYLE="margin-bottom: 0in; line-height: 100%"><A NAME="_GoBack"></A>
    <BR>
</P>

<P STYLE="margin-bottom: 0in; line-height: 100%"><BR>
</P>

<P STYLE="margin-bottom: 0in; line-height: 100%"><BR>
</P>

<P STYLE="margin-bottom: 0in; line-height: 100%"><BR>
</P>

<P STYLE="margin-bottom: 0in; line-height: 100%"><BR>
</P>

<P STYLE="margin-bottom: 0in; line-height: 100%"><BR>
</P>
<TABLE WIDTH=614 CELLPADDING=7 CELLSPACING=0>
    <COL WIDTH=191>
    <COL WIDTH=191>
    <COL WIDTH=191>
    <TR VALIGN=TOP>
        <TD WIDTH=191 STYLE="border: none; padding: 0in">
            <P>FirmenbuchNr {{ heatingplant.company_register_number }}</P>
        </TD>

        {% comment %} Keat des scho 2x eina?
        <TD WIDTH=191 STYLE="border: none; padding: 0in">
            <P>FirmenbuchNr(FirmenbuchNR)</P>
        </TD>
        {% endcomment %}

        <TD WIDTH=191 STYLE="border: none; padding: 0in">
            <P ALIGN=RIGHT>Bankname: {{ bank.name }}
                           Kontonummer: {{ bank.acount_number }}
                           Kennziffer: {{ bank.code_number }}
                           BIC: {{ bank.BIC }}
                           IBAN: {{ bank.IBAN }}</P>
        </TD>
    </TR>
</TABLE>
<P STYLE="margin-bottom: 0in; line-height: 100%"><BR>
</P>

<P STYLE="margin-bottom: 0in; line-height: 100%"><BR>
</P>

<P STYLE="margin-bottom: 0in; line-height: 100%"><BR>
</P>

<P STYLE="margin-bottom: 0in; line-height: 100%"><BR>
</P>

<P STYLE="margin-bottom: 0in; line-height: 100%"><BR>
</P>

<P STYLE="margin-bottom: 0in; line-height: 100%"><BR>
</P>

<P STYLE="margin-bottom: 0in; line-height: 100%"><BR>
</P>

<P STYLE="margin-bottom: 0in; line-height: 100%"><BR>
</P>

<P STYLE="margin-bottom: 0in; line-height: 100%"><BR>
</P>



<b>{{ mesurement_diff }}</b>


</BODY>
</HTML>