{% load staticfiles %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="icon" href="{% static "images/favicon.ico" %}" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-select.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-datepicker.min.css" %}">
    <script type="text/javascript" src="{% static "js/jquery-1.10.2.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap-select.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap-datepicker.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/locales/bootstrap-datepicker.de.js" %}"></script>

    <script type="text/javascript">


        $(function () {
            //Graue hinterlegung in aktivem tab
            function stripTrailingSlash(str) {
                if (str.substr(-1) == '/') {
                    return str.substr(0, str.length - 1);
                }
                return str;
            }

            var url = window.location.pathname;

            var activePage = stripTrailingSlash(url);

            $('.nav li a').each(function () {
                var currentPage = stripTrailingSlash($(this).attr('href'));

                if (activePage == currentPage) {
                    $(this).parent().addClass('active');
                }
            });

            $(document).ready(function () {
                //Suchfeld ausblenden
                if ((url.substring(0, 11) != "/customers/") && (url != "/buildings/invoice/")) {
                    $('#searchbutton').remove();
                    $('#searchtext').remove();
                }
                if (url.substring(0, 18) == "/customers/search/")
                    $('#search').removeAttr('action');
                //Suche zu allen Selectpicker mit mehr als 9 optionen
                $.each($('.selectpicker'), function (index, value) {
                    if (value.length >= 10)
                        $(value).attr('data-live-search', "true");
                });
                $('select > option:nth-child(1)').remove();
                //selectpicker
                $('.selectpicker').selectpicker();

                //datepicker
                $(".datepicker").datepicker({
                    format: 'dd.mm.yyyy',
                    language: "de",
                    weekStart: 1
                });
            });
        });
    </script>


    <title>customer</title>
    {% block extra_head %}
        <!-- zusaetzliche head tags -->
    {% endblock %}
</head>
<body>
{% if user.is_authenticated %}

    <div class="navbar">
        <div class="navbar-inner">
            {% comment %}<a class="brand" href="#">Wärmeabrechnung</a {% endcomment %}
            <ul class="nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Abrechnung
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/abrechnungen/pdfrechnung/1">Energieabrechnung</a></li>
                        <li><a href='{% url 'offer_create' %}'>Anschlussrechnung</a></li>
                        <li><a href="{% url 'building_invoice' %}">Zwischenabrechnung</a></li>
                        <li><a href='{% url 'empty_invoice' %}'>Leere Rechnung</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Rechnungskomponenten
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href='{% url 'bank_list' %}'>Bank</a></li>
                        <li><a href='{% url 'connection_flat_rate_list' %}'>Anschlusspauschale</a></li>
                        <li><a href='{% url 'rate_list' %}'>Rate</a></li>
                    </ul>
                </li>
                <li><a href='{% url 'customer_list' %}'>Kunde</a></li>
                <li><a href='{% url 'building_list' %}'>Objekt</a></li>
                <li><a href='{% url 'counter_change_list' %}'>Zählerwechsel</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Preisgruppen
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href='{% url 'basic_price_list' %}'>Grundpreis</a></li>
                        <li><a href='{% url 'measurement_price_list' %}'>Messpreis</a></li>
                        <li><a href='{% url 'working_price_list' %}'>Arbeitspreis</a></li>
                        <li><a href='{% url 'GroupView' %}'>Gruppenansicht</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Messungen
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href='{% url 'measurement_list' %}'>Messung</a></li>
                        <li><a href='{% url 'reading' %}'>CSV-Einlesen</a></li> {% comment %} {% url 'reading' %} {% endcomment %}
                    </ul>
                </li>
                <li><a href='{% url 'heating_plant_list' %}'>Heizwerk</a></li>
            </ul>
            <form id="search" class="navbar-form navbar-left" role="search" action="search/" method="get">
                <div class="form-group">
                    <input id="searchtext" name="q" type="text" class="form-control" placeholder="Kunde">
                    <input id="searchbutton" type="submit" class="btn" value="Suchen"/>
                </div>
            </form>
            <form class="navbar-form pull-right" style="height: 28px; position: absolute; top: 2px; right: 25px"
                  action="/logout/">
                <button id="logout" class="btn btn-danger">Logout</button>
            </form>

        </div>
    </div>

    <div class="clear"></div>


    {% block body %}

        <!-- hier kommt Inhalt, falls der nutzer authenticated ist...-->

    {% endblock %}



{% else %}
    <form style="margin-left: 50px; position: absolute; top: 30%; right: 40%" id="login_form" method="post"
          action="/login/">
        {% csrf_token %}
        Benutzername: <input style="margin-left: 20px" type="text" name="username" value="" size="50"/>
        <br/>
        Passwort: <input style="margin-left: 53px" type="password" name="password" value="" size="50"/>
        <br/>
        <a style="position: absolute; right: 43.5%" class="linkButton" type="submit">
            <button class="btn btn-success">Login</button>
        </a>
    </form>
{% endif %}

</body>
</html>