{% extends "site_base.html" %}

{% block body %}

    <table style="margin-left: 30px; margin-bottom: 20px" >
        <ul>
            <tr>
                <td> Preisgruppe:</td>
                <td>{{ connection_flat_rate.wage_group }}</td>
            </tr>
            <tr>
                <td> Minimum:</td>
                <td> {{ connection_flat_rate.min }} </td>
            </tr>
            <tr>
                <td> Maximum:</td>
                <td> {{ connection_flat_rate.max }} </td>
            </tr>
            <tr>
                <td> Betrag:</td>
                <td> {{ connection_flat_rate.amount }} </td>
            </tr>
        </ul>
    </table>



<a style="padding-left: 20px" class="linkButton" href="{% url 'connection_flat_rate_update' pk=connection_flat_rate.pk %}"><button class="btn btn-primary">Bearbeiten</button></a>
<a class="linkButton" href="{% url 'connection_flat_rate_delete' pk=connection_flat_rate.pk %}"><button class="btn btn-primary">Löschen</button></a>

{% endblock %}