{% extends "site_base.html" %}

{% block body %}

    <ul>
            Wage-group: {{ connection_flat_rate.wage_group }} </br>
            Min: {{ connection_flat_rate.max }} </br>
            Max: {{ connection_flat_rate.min }} </br>
            Amount: {{ connection_flat_rate.amount }}
    </ul>


<a class="linkButton" href="{% url 'connection_flat_rate_update' pk=connection_flat_rate.pk %}"><button class="myButton">Edit this connection-flat-rate</button></a>
<a class="linkButton" href="{% url 'connection_flat_rate_delete' pk=connection_flat_rate.pk %}"><button class="myButton">Delete this connection-flat-rate</button></a>

{% endblock %}