{% extends "site_base.html" %}

{% block body %}

    <ul class="list">
            <li>{{ measurement.counter }}</li>
            <li>{{ measurement.measured_date }}</li>
            <li>{{ measurement.value }}</li>
    </ul>


<a class="linkButton" href="{% url 'measurement_update' pk=measurement.pk %}"><button class="myButton">Edit this measurement</button></a>
<a class="linkButton" href="{% url 'measurement_delete' pk=measurement.pk %}"><button class="myButton">Delete this measurement</button></a>

{% endblock %}