{% extends "site_base.html" %}

{% block body %}

    <table style="margin-left: 30px; margin-bottom: 20px">
        <ul>
            <tr>
                <td> Gebäude:</td>
                <td>{{ measurement.building }}</td>
            </tr>
            <tr>
                <td> Datum:</td>
                <td> {{ measurement.measured_date }} </td>
            </tr>
            <tr>
                <td> Wert:</td>
                <td> {{ measurement.value }} MWh</td>
            </tr>
        </ul>
    </table>


    <a style="padding-left: 20px" class="linkButton" href="{% url 'measurement_update' pk=measurement.pk %}">
        <button class="btn btn-primary">Bearbeiten</button>
    </a>
    <a class="linkButton" href="{% url 'measurement_delete' pk=measurement.pk %}">
        <button class="btn btn-primary">Löschen</button>
    </a>

{% endblock %}