{% extends "site_base.html" %}

{% block body %}

    <ul>
            Gebäude: {{ measurement.building }} </br>
            Datum: {{ measurement.measured_date }} </br>
            Wert: {{ measurement.value }}
    </ul>


<a class="linkButton" href="{% url 'measurement_update' pk=measurement.pk %}"><button class="myButton">Edit this measurement</button></a>
<a class="linkButton" href="{% url 'measurement_delete' pk=measurement.pk %}"><button class="myButton">Delete this measurement</button></a>

{% endblock %}