{% extends "site_base.html" %}

{% block body %}
{% for measurement in measurements %}

    <ul class="list">
        <li>{{ measurement.measured_date }} {{ measurement.building }}<a href="{% url 'measurement_detail' pk=measurement.pk %}">Details</a> <a href="{% url 'measurement_delete' pk=measurement.pk %}">Löschen</a><a href="{% url 'measurement_update' pk=measurement.pk %}">Bearbeiten</a></li>
    </ul>

{% endfor %}

<a style="padding-left: 5px" class="linkButton" href="{% url 'measurement_create' %}"><button class="btn btn-primary">Neue Messung anlegen</button></a>

{% endblock %}