{% extends "site_base.html" %}

{% block body %}
</br>
   <h4 style="padding-left: 30px">Ihre angegebenen Daten:</h4>
    <table style="margin-left: 30px; margin-bottom: 20px" >
        <ul>
            <tr>
                <td> Anzuschließendes Objekt:</td>
                <td>{{ offer.building }}</td>
            </tr>
            <tr>
                <td> Eigentümer: </td>
                <td> {{ offer.owner }} </td>
            </tr>
            <tr>
                <td> Telefonnummer:</td>
                <td> {{ offer.phone_number }} </td>
            </tr>
            <tr>
                <td> Objektart:</td>
                <td> {{ offer.object_type }} </td>
            </tr>
            <tr>
                <td>Hausanschluss:</td>
                <td>{{ offer.connection }} €/kW</td>
            </tr>
            <tr>
                <td> Anschlusspauschale:</td>
                <td> {{ offer.connection_flat_rate }} </td>
            </tr>
            <tr>
                <td> Kabelpreis:</td>
                <td> {{ offer.cable_price }} €/m</td>
            </tr>
            <tr>
                <td> Kabellänge:</td>
                <td> {{ offer.cable_length }} m</td>
            </tr>
            <tr>
                <td> Heizung:</td>
                {% if offer.heating == True %}
                <td> Ja  </td>
                {% else %}
                <td> Nein </td>
                {% endif %}
            </tr>
            <tr>
                <td> Warmwasser:</td>
                {% if offer.warm_water == True%}
                <td> Ja </td>
                {% else %}
                <td> Nein </td>
                {% endif %}
            </tr>
            <tr>
                <td> Kommentar:</td>
                <td> {{ offer.comment }} </td>
            </tr>
        </ul>
    </table>

    </br>
    <h4 style="padding-left: 20px">Rechnung mit angegebenen Daten erzeugen?</h4>
    <a style="padding-left: 20px" class="linkButton" href="{% url 'offer_update' pk=offer.pk %}"><button class="btn btn-primary">Bearbeiten</button></a>
   <a class="linkButton" href="{% url 'pdf_Anschlussrechnung' id1=offer.building.pk id2=offer.pk %}"><button class="btn btn-primary">Rechnung erstellen</button></a>

{% endblock %}
