{% extends "site_base.html" %}

{% block body %}

    <table style="margin-left: 30px; margin-bottom: 20px">
        <ul>
            <tr>
                <td> Bankname:</td>
                <td>{{ bank.name }}</td>
            </tr>
            <tr>
                <td> Kontonummer:</td>
                <td> {{ bank.account_number }} </td>
            </tr>
            <tr>
                <td> Bankleitzahl:</td>
                <td> {{ bank.code_number }} </td>
            </tr>
            <tr>
                <td> IBAN:</td>
                <td> {{ bank.IBAN }} </td>
            </tr>
            <tr>
                <td> BIC:</td>
                <td> {{ bank.BIC }} </td>
            </tr>
        </ul>
    </table>


    <a style="padding-left: 20px" class="linkButton" href="{% url 'bank_update' pk=bank.pk %}">
        <button class="btn btn-primary">Bearbeiten</button>
    </a>
    <a class="linkButton" href="{% url 'bank_delete' pk=bank.pk %}">
        <button class="btn btn-primary">Löschen</button>
    </a>

{% endblock %}