{% extends "site_base.html" %}

{% block body %}

    <ul>
        {{ bank.name }} </br>
        Kontonummer: {{ bank.account_number}} </br>
        Bankleitzahl: {{ bank.code_number }} </br>
        IBAN: {{ bank.IBAN }} </br>
        BIC: {{ bank.BIC }}
    </ul>


<a class="linkButton" href="{% url 'bank_update' pk=bank.pk %}"><button class="myButton">Edit this bank</button></a>
<a class="linkButton" href="{% url 'bank_delete' pk=bank.pk %}"><button class="myButton">Delete this bank</button></a>

{% endblock %}