{% extends "site_base.html" %}

{% block body %}

    <ul class="list">
        <li>{{ bank.name }}</li>
        <li>Kontonummer: {{ bank.account_number}}</li>
        <li>Bankleitzahl: {{ bank.code_number }}</li>
        <li>IBAN: {{ bank.IBAN }}</li>
        <li>BIC: {{ bank.BIC }}</li>

    </ul>


<a class="linkButton" href="{% url 'bank_update' pk=bank.pk %}"><button class="myButton">Edit this bank</button></a>
<a class="linkButton" href="{% url 'bank_delete' pk=bank.pk %}"><button class="myButton">Delete this bank</button></a>

{% endblock %}