{% extends "site_base.html" %}

{% block body %}
    <table class="table-hover" style="margin-left: 5%">
        {% for bank in banks %}

            <tr class="list">
                <td style="width: 85%">{{ bank.name }}</td>
                <td><a href="{% url 'bank_detail' pk=bank.pk %}" class="btn btn-primary btn-small">Details</a></td>
                <td><a href="{% url 'bank_update' pk=bank.pk %}" class="btn btn-primary btn-small">Ändern</a></td>
                <td><a href="{% url 'bank_delete' pk=bank.pk %}" class="btn btn-danger btn-small">Löschen</a></td>
            </tr>

        {% endfor %}
    </table>
    <table class="table-hover" style="margin-left: 5%; margin-top: 5px" >
        <tr>
            <td>
                <a class="linkButton" href="{% url 'bank_create' %}"><button class="btn btn-primary">Neue Bank anlegen</button></a>
            </td>
        </tr>
    </table>


{% endblock %}