{% extends "site_base.html" %}

{% block body %}
    <table class="table-hover" style="margin-left: 5%">
        {% for heating_plant in heating_plants %}

            <tr class="list">
                <td style="width: 85%">{{ heating_plant.name }} ({{ heating_plant.manager }})</td>
                <td><a href="{% url 'heating_plant_detail' pk=heating_plant.pk %}" class="btn btn-primary btn-small">Details</a>
                </td>
                <td><a href="{% url 'heating_plant_update' pk=heating_plant.pk %}" class="btn btn-primary btn-small">Ändern</a>
                </td>
                <td><a href="{% url 'heating_plant_delete' pk=heating_plant.pk %}" class="btn btn-danger btn-small">Löschen</a>
                </td>
            </tr>

        {% endfor %}
    </table>
    <table class="table-hover" style="margin-left: 5%; margin-top: 5px" >
        <tr>
            <td>
                <a class="linkButton" href="{% url 'heating_plant_create' %}">
        <button class="btn btn-primary">Neues Heizwerk anlegen</button></a>
            </td>
            <td>
                <a class="linkButton" href="{% url 'other_bills' %}">
        <button class="btn btn-primary" style="margin-left: 20px">Sonstige Rechnungen</button></a>
            </td>
        </tr>
    </table>


{% endblock %}